## Data typer (data types)

Python har flere indbyggede typer.

Hvis du opretter variablen `name` og tildeler den værdien `"Hans"`, repræsenterer denne variabel automatisk en _string_ datatype. Udfør cellen.

In [2]:
name = "Hans"
print(name)

Hans


Du kan kontrollere typen af en variabel ved at bruge funktionen `type()`. Udfør cellen.

In [3]:
print(type(name))

<class 'str'>

`str` står for string, altså tekst.

Det samme virker for andre datatyper.

Udfør cellen.

In [4]:
age = 6
print(age)
print(type(age))

6
<class 'int'>

`int` står for integer, altså heltal.

 Flydende komma-tal (floating point numbers) er af typen `float`.
 Udfør cellen.

In [5]:
fraction = 0.3
print(fraction)
print(type(fraction))

0.3
<class 'float'>

Du kan også sammenligne variablens type med fx `str` eller `int`.

Man sammenligner to værdier ved at skrive `==` imellem dem.

Resultatet bliver enten `True` eller `False`.

Udfør cellen.

In [6]:
print(type(name) == str)  # True, because name has type str

True

Udfør også denne celle.

In [7]:
print(type(age) == str)  # False, because age has not type str. (It has type int.)

False

Du kan også konvertere fra en type til en anden.

Python vil forsøge at bestemme den korrekte værdi, for eksempel ved at udtrække et tal fra en streng.

Dette kaldes _typecasting_. Selvfølgelig vil denne konvertering ikke altid virke afhængigt af den værdi, der sendes.

Udfør cellen.

In [10]:
age1 = "25"
print("age1 is", age1, "og har typen ", type(age1))

age2 = int("41")  # Converts the string "41" into an integer 41
print("age2 is", age2, "og har typen ", type(age2))

age1 is 25 og har typen  <class 'str'>
age2 is 41 og har typen  <class 'int'>

Hvis du prøver at konvertere en string til en integer, som indeholder andet end tal, får du en fejlmelding.

Udfør cellen.

In [11]:
penge = int("30 kroner")  # This will not work

ValueError: invalid literal for int() with base 10: '30 kroner'

Er du klar over, hvorfor udførelsen af denne celle førte til dette resultat? Hvis ikke, så kig på koden i cellen igen.

Du kan også ændre koden i cellen og derefter udføre cellen igen. Eksperimentér med koden på denne måde, indtil du har forstået den.

Brug denne fremgangsmåde for alle celler i denne tutorial, hvis du ikke er sikker på, hvordan koden i cellen fungerer.

Her er en eksempel, hvor der konverteres en _float_ til en _int_.
Udfør cellen.

In [12]:
fraction = 1.7
int_from_fraction = int(fraction)
print("fraction har typen", type(fraction), "og dens værdi er", fraction)
print("int_from_fraction har typen", type(int_from_fraction), "og dens værdi er", int_from_fraction)

fraction har typen <class 'float'> og dens værdi er 1.7
int_from_fraction har typen <class 'int'> og dens værdi er 1

Bemærk, at når du bruger int() på et tal med decimaler, bliver resultatet ikke rundet, men alt efter kommaet ignoreres.

### Øvelser

Udfør den næste celle og analysér resultatet.

In [ ]:
print(123, "has type", type(123))

x = 64.73
print(x, "has type", type(x))

y = "python"
print(y, "has type", type(y))

x = int(x)
print(x, "has type", type(x))

Udfør den næste celle. Derefter tilføj kode i den tomme linje sådan at resultatets sidste række bliver `20 has type <class 'int'>` når du udfører cellen igen.

In [ ]:
z = "20"
print(z, "has type", type(z))

print(z, "has type", type(z))

Udfør den næste celle. Der opstår en fejl. Hvorfor? Forandre den fejlagtige kodelinje sådan at der bliver printet `20 has type <class 'int'>`. Udfør cellen igen.

In [ ]:
number = "number 20"
number = int(number)
print(number, "has type", type(number))
print("Yay!")

Der findes flere typer end `str`, `int` og `float` i Python. Vi vil udforske nogle af dem snart.

Forstod/løste du alt på denne side?
Ellers spørg [W3schools](https://www.w3schools.com/python/), [Google](https://www.google.com),
[Perplexity](https://perplexity.ai), andre elever eller læreren.

Arbejd videre med den næste Jupyter Notebook.